<div class="container">
  <hr>  
<h1>Identifícate</h1>
<hr>
  <div class="col-md-12">
    <div class="identity-data" *ngIf="responseLogin ">
      <div class="uder-identity alert alert-success" *ngIf="responseLogin.email">
       Bienvenido{{responseLogin.name}}
      </div>
       <div class="uder-identity alert alert-danger" *ngIf="responseLogin.status">
        Error en autenticación
      </div>
    </div>
     <form 
      (ngSubmit)="onSubmit()"
     action="#" class="col-md-4">

       <p>
         <label for="email">Email:</label>
         <input 
         name="user.email"
         [(ngModel)]="user.email"
         type="email" class="form-control" required>
  
       </p>
       <p>
         <label for="">Contraseña:</label>
         <input type="password" 
          [(ngModel)]="user.password"
          name="user.password"
         class="form-control" required>
       </p>
        
       <input type="submit" value="Entrar" class="btn btn-outline-primary">
      
     </form>
  </div>

</div>