<div class="container">
  <hr>  
<h1>Identifícate</h1>
<hr>
  <div class="col-md-12">
     <form 
      (ngSubmit)="onSubmit()"
     action="#" class="col-md-4">

       <p>
         <label for="email">Email:</label>
         <input 
         name="user.useremail"
         [(ngModel)]="user.useremail"
         type="email" class="form-control" required>
  
       </p>
       <p>
         <label for="">Contraseña:</label>
         <input type="password" 
          [(ngModel)]="user.userpassword"
          name="user.userpassword"
         class="form-control" required>
       </p>
        
       <input type="submit" value="Entrar" class="btn btn-outline-primary">
      
     </form>
  </div>

</div>